button {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
}

.pantalla-animada {
    position: relative;
    height: 100vh;
    transform-origin: center center;
    background-color: black;    
}

/*Caracteristicas de la imagen Dummy*/
.pantalla-animada img {
    position: absolute;
    width: 500px;
    height: 500px;
    animation: mover-imagen 8s ease-out;
}

/*Animacion de la imagen Dummy (Desplazamiento hacia el centro de la pantalla*/
@keyframes mover-imagen { 
    0% {
        top: -100%;
    }
    50%{
        top: 10%;
    }
    75%{
        /*visibility: visible;*/
    }
    100%{
       /* visibility: hidden;*/
    }
}

/*.texto-grande {
    display: none;
    text-align: center;
    font-size: 48px;
    color: white;
    background-color: black;
}*/
/*
.contenido-pestañas {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

.tablinks {
    background-color: inherit;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
}

#juego {
    display: block;
    margin: 0 auto;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    resize: none;
}*/